
@{
    ViewBag.Title = "Protfolio";
}

<h2 class="text-center text-capitalize">Welcome My Web App</h2>

<hr />

<div class="row">
    <div class="col-lg-2 ">
        <img class="w-100 h-100" src="~/Img/ff.jpg" />
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-2 text-lg-end">
                <h4>Name </h4>
            </div>
            <div class="col-lg-1">
                <h4>
                    :
                </h4>
            </div>
            <div class="col-lg-6">
                <h5>
                    @ViewBag.Fahad
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-lg-end">
                <h4>ID </h4>
            </div>
            <div class="col-lg-1">
                <h4>
                    :
                </h4>
            </div>
            <div class="col-lg-6">
                <h5>
                    @ViewBag.ID
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-lg-end">
                <h4>Gmail </h4>
            </div>
            <div class="col-lg-1">
                <h4>
                    :
                </h4>
            </div>
            <div class="col-lg-6">
                <h5>
                    @ViewBag.Gmail
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-lg-end">
                <h4>Phone </h4>
            </div>
            <div class="col-lg-1">
                <h4>
                    :
                </h4>
            </div>
            <div class="col-lg-6">
                <h5>
                    @ViewBag.Phone
                </h5>
            </div>
        </div>

    </div>

</div>


@*<h4>Name : @ViewBag.Fahad</h4>
<h4>ID : @ViewBag.ID</h4>
<h4>Gmail : @ViewBag.Gmail</h4>
<h4>Phone : @ViewBag.Phone</h4>*@

@*Fotter*@
<div class="mb-0 fixed-bottom  bg-black w-100 p-3">
    <ul class="list-unstyled d-flex justify-content-evenly">
        <li>
            <a href="~/Fahad/Fahad">Home </a>
        </li>
        <li> <a href="~/Fahad/Education">Education</a></li>
        <li> <a href="~/Fahad/Project">Project</a></li>
        <li><a href="~/Fahad/Personal">Personal Info</a></li>
        <li> <a href="~/Fahad/Referance">Referance</a></li>
    </ul>
</div>